<div class="table-responsive scroll" >
    <table class="table table-centered table-dark table-nowrap text-center">
        <thead >
            <tr>
                <th>م</th>
                <th>التاريخ</th>
                <th>الوزن المستلم</th>
                <th>اللون</th>
                <th>نوع الخامة</th>
                <th>الموديل</th>
                <th>وزن الموديل</th>
                <th>عدد الموديل</th>
                <th>وقت الموديل</th>
                <th>عدد الساعات</th>
                <th>سعر الساعة</th>
                <th>اجمالي الحساب</th>
                <th>المسئول</th>
                <th><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody >
        {% for w in inSide  %}
            <tr style="text-align: center;">
            <td>{{forloop.counter}}</td>
                <td><span class="font-size-18"><i class="fas fa-calendar-alt"></i> {{w.date|date:'Y-m-d'}}</span></td>
                <td> {{w.weight}}</td>
                <td>{{w.color}}</td>
                <td>{{w.get_wool_type_display}}</td>
                <td> {{w.product}}</td>
                <td> {{w.product_weight}}</td>
                <td>{{w.product_count}}</td>
                <td> {{w.product_time}} </td>
                <td> {{w.hour_count}}</td>
                <td> {{w.hour_price}} </td>
                <td><i class="fas fa-dollar-sign"></i> {{w.total_account}} </td>
                <td><i class="fas fa-user-tie"></i> {{w.admin}} </td>
               {% if request.user.is_superuser %}
               <td>
               <!--
{#                <a href="{% url 'Factories:FactoryInSideUpdate' w.id %}" class="mr-3 text-warning" data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>#}-->
                <a onclick="
                        var result = confirm('هل أنت متأكد من الحذف؟');
                        if (result) {
                            InsideDelete('{{w.id}}')
                        }
                        " style="cursor: pointer;" class="text-danger" ><i class="mdi mdi-close font-size-18"></i></a>
                </td>
               {% endif %} 
               
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div style="margin-top:10px">
    <div class="row">
        <div class="col-lg-3">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">
                    
                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">اجمالي الوزن الخارج</h5>
                            <h5 class="mb-0 text-dark">
                                {% if sum_outside %}
                                {{sum_outside}}
                                {% else %}
                                0.0
                                {% endif %}
                                كيلو جرام</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">
                    
                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">اجمالي الوزن المستلم</h5>
                            <h5 class="mb-0 text-dark">
                                {% if sum_weightt %}
                                {{sum_weightt}}
                                {% else %}
                                0.0
                                {% endif %}
                                كيلو جرام</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-dolly"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">
                    
                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">عدد القطع</h5>
                            <h5 class="mb-0 text-dark">
                                {% if products_count %}
                                {{products_count}}
                                {% else %}
                                0
                                {% endif %}
                                قطعة</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-list-ol"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">

                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">اجمالي الحساب</h5>
                            <h5 class="mb-0 text-dark">
                                {% if sum_weightt_after %}
                                {{sum_weightt_after}}
                                {% else %}
                                0.0
                                {% endif %}
                                جنية</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>