<div class="table-responsive scroll">
    <table class="table table-centered table-dark table-nowrap text-center">
        <thead>
            <tr>
                <th>م</th>
                <th>التاريخ</th>
                <th>نوع العملية</th>
                <th>قيمة العملية</th>
                <th>وصف العملية</th>
                <th>المسئول</th>
                <th><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for w in treasury_operation_obj %}
            <tr style="text-align: center;">
                <td>{{forloop.counter}}</td>
                <td><span>{{w.operation_date | date:'Y-m-d'}}</span></td>
                <td>
                    <span>
                        {% if w.operation_type == 1 %}
                        <i class='bx bx-chevrons-down' style="color: rgba(12, 186, 44, 0.827);"></i>
                        {% else %}
                        <i class='bx bx-chevrons-up' style="color: rgba(201, 12, 60, 0.827);"></i>
                        {% endif %}
                        "{{w.get_operation_type_display}}"
                    </span>
                </td>
                <td><span>{{w.operation_value}} جنية</span></td>
                <td>
                    <span>
                        {% if w.operation_description %}
                        "{{w.operation_description}}"
                        {% else %}
                        "---"
                        {% endif %}
                    </span>
                </td>
                <td><i class="fas fa-user-tie"></i> {{w.operation_user}} </td>
                {% if request.user.is_superuser %}
                <td>

                    <a href="{% url 'Treasury:OperationSuperDelete' w.id %}" class="mr-3 text-warning"
                        data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i
                            class="mdi mdi-close font-size-18" style="cursor: pointer;"></i></a>
                    <!-- <a onclick="
                                var result = confirm('هل أنت متأكد من الحذف؟');
                                if (result) {
                                    InsideDelete('{{w.id}}')
                                }
                                " style="cursor: pointer;" class="text-danger" ><i class="mdi mdi-close font-size-18"></i></a> -->
                </td>
                {% endif %}


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>