{% extends "base.html" %}

{% block title %}
<title> خزينة: {{object.treasury_name | title}} </title>

{% endblock title %}

{% block main %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fuild">

            <div class="row">
                <div class="col-12"> {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        <i class="mdi mdi-check-all mr-2"></i>
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">


                        <h4 class="mb-0">
                            خزينة {{object.treasury_name}}
                            <a class="badge badge-success" style="font-size:small;"
                                href="{% url 'Treasury:TreasuryCreate' %}" data-toggle="modal"
                                data-target="#action_modal">
                                <i class="fas fa-plus-square fx-2"></i>
                            </a>

                            <a class="badge badge-info" style="font-size:small;"
                                href="{% url 'Treasury:TreasuryList' %}">
                                <i class="fas fa-list-ul"></i>
                            </a>

                            <a class="badge badge-danger" style="font-size:small;"
                                href="{% url 'Treasury:TreasuryTrachList' %}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </h4>




                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                <li class="breadcrumb-item">
                                    {% if object.deleted %}
                                    <a href="{% url 'Treasury:TreasuryTrachList' %}">قائمة الخزائن المحذوفة</a>
                                    {% else %}
                                    <a href="{% url 'Treasury:TreasuryList' %}">قائمة الخزائن</a>
                                    {% endif %}
                                </li>
                                <li class="breadcrumb-item active"> خزينة {{object.treasury_name}}</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <!-- بيانات الخزينة -->
                            <div class="row alert alert-primary">
                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14">
                                        <i class="fas fa-paragraph"></i>
                                        أسم الخزنة:
                                    </span>
                                    {{object.treasury_name}}
                                </div>
                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14">
                                        <i class="fas fa-calendar-alt"></i>
                                        تاريخ الانشاء:
                                    </span>
                                    {{object.treasury_date| date:'Y-m-d'}}
                                </div>
                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14">
                                        <i class="fas fa-dollar-sign"></i>
                                        رصيد الخزنة:
                                    </span>
                                    <span class="badge badge-success font-size-14">{{object.treasury_balance}}
                                        جنية</span>
                                </div>

                                <div class="col-lg-3">
                                    <div>
                                        {% if object.deleted %}
                                        <a href="{% url 'Treasury:TreasuryRestore' object.id %}" data-toggle="modal"
                                            data-target="#action_modal" data-placement="top" title=""
                                            data-original-title="Message">
                                            <span class="badge badge-dark"><i class='bx bx-redo '></i> استرجاع</span>
                                        </a>
                                        <a href="{% url 'Treasury:TreasurySuperDelete' object.id %}" data-toggle="modal"
                                            data-target="#action_modal" data-placement="top" title=""
                                            data-original-title="Profile">
                                            <span class="badge badge-danger"><i class='bx bxs-trash '></i> حذف نهائي
                                            </span>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'Treasury:TreasuryUpdate' object.id %}" data-toggle="modal"
                                            data-target="#action_modal" data-placement="top" title=""
                                            data-original-title="Message">
                                            <span class="badge  badge-info"><i class='bx bx-edit'></i>تعديل</span>
                                        </a>
                                        <a href="{% url 'Treasury:TreasuryDelete' object.id %}" data-toggle="modal"
                                            data-target="#action_modal" data-placement="top" title=""
                                            data-original-title="Profile">
                                            <span class="badge  badge-danger"><i class='bx bxs-trash'></i>حذف</span>
                                        </a>
                                        {% endif %}
                                    </div>

                                </div>



                            </div>
                            <!-- نهاية بيانات الخزينة -->


                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                <li class="nav-item">

                                    <a class="nav-link active" data-toggle="tab" id="Outside_tab"
                                        href="#treasury_operation" role="tab" aria-selected="true">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block"><i class="fas fa-money-check-alt"></i> عمليات
                                            الخزينة</span>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#action_modal"
                                        href="{% url 'Treasury:OperationInCreate' object.id %}?treasury_id={{object.id}}"
                                        aria-selected="true">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block"><i class="fas fa-sort-down"></i> ايداع
                                            رصيد</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#action_modal"
                                        href="{% url 'Treasury:OperationOutCreate' object.id %}?treasury_id={{object.id}}"
                                        aria-selected="true">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block"><i class="fas fa-sort-up"></i> سحب رصيد</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content text-muted">
                                <!--عمليات الخزنة-->
                                <div class="tab-pane active" id="treasury_operation" role="tabpanel">
                                    {% include 'Treasury/treasury_operation.html' %}
                                </div>
                                <!--ايداع-->
                                <div class="tab-pane " id="Outside_factory" role="tabpanel">

                                </div>
                                <!--سحب-->
                                <div class="tab-pane" id="Inside_factory" role="tabpanel">

                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock main %}